# Banco de dados (simulado pelo arquivo BACKUP_ORIGEM)
DB_NAME=meubanco
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASS=senha123
BACKUP_ORIGEM=./data/produtos.json

# Backup
BACKUP_PASTA=./backups
BACKUP_RETENCAO_DIAS=7

# Storage (simulado em BACKUP_PASTA/storage/BACKUP_BUCKET)
BACKUP_BUCKET=meu-bucket-backup
BACKUP_REGIAO=us-east-1
